workflow/central Agent route.json
{
  "name": "central Agent route",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/agent/gateway",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        32
      ],
      "id": "d2f71434-5983-4120-8c40-d3195a0d301b",
      "name": "Webhook",
      "webhookId": "d646eacc-34ea-473d-ae70-8788f67bc346"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "architect",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb3375b9-c9ad-4cc9-8057-de9190f08f7b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30dd5a74-6349-4ac5-b258-4f24afe9122d",
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36b53861-6641-4918-91fe-c15c536e849c",
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db666587-52f4-415d-87e1-bb80816a1996",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        48
      ],
      "id": "1b7bdc04-19c7-486a-b119-2e2fa4bc1220",
      "name": "check Explicit Agent Selector"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the core intent routing engine for ContextOS. Your job is to analyze the user prompt and classify which specialized agent profile must handle the request.\n\nUSER PROMPT:\n\"{{ $json.body.query }}\"\n\nINSTRUCTION:\nClassify the following engineering command into the correct system module.\n\nCLASSIFICATION CRITERIA:\n- Reply 'build_project' if the prompt asks to build a complete project, a full multi-agent system from scratch, or contains code frameworks alongside macro setup instructions.\n- Reply 'architect' if the prompt focuses on system design, database choices, infrastructure scaling, constraints, and architecture trade-offs.\n- Reply 'developer' if the prompt focuses on generating code, implementation tasks, file setups, logical code paths, or API design specifics.\n- Reply 'pm' if the prompt focuses on milestones, project history, summaries, status reports, roadblocks, or sprint delivery health.\n\nRespond with exactly one word from this list: 'build_project', 'architect', 'developer', or 'pm'. Do not include markdown formatting, punctuation, or explanations.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -80,
        48
      ],
      "id": "51b1226e-e53f-4a78-b5c7-183d3cf776f7",
      "name": "AI Intent Classifier"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        240
      ],
      "id": "31fd117a-82cb-466b-9058-0e4ceb87e9cf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "PB0UtPmHlf1Bpff2",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "architect",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "10416729-1fb4-4f07-9f70-659d3c7b82af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b2b7b9c-63e9-45d9-aadc-4bb547e10de7",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7d88fec0-3e97-4994-b5ce-bd81cf445274",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "13795b90-71bb-4d01-bc2c-fee344d388bc",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "build_project",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "b76016a6-4483-4e3c-9508-8ac489eb936c",
      "name": "Route AI Classification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  \"success\": true,\n  \"status\": \"execution_complete\",\n  \"projectId\": (() => {\n    const fileContent = $('call Developer Agent1').item.json.agentResponse || '';\n    const match = fileContent.match(/\"name\"\\s*:\\s*\"([^\"]+)\"/);\n    return match ? match[1] : ($json.projectId || \"contextos-project\");\n  })(),\n  \"agentType\": $json.agentType || \"orchestrator\",\n  \"payload\": {\n    \"files\": $('call Developer Agent1').item.json.agentResponse,\n    \"summary\": $json.agentResponse || $json.output || \"Workflow completed successfully.\"\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        112
      ],
      "id": "6730d292-dc49-4bfc-95a3-81ecdb175cdd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gR0BXsiXeyGMotku",
          "mode": "list",
          "cachedResultUrl": "/workflow/gR0BXsiXeyGMotku",
          "cachedResultName": "Architect Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -128
      ],
      "id": "3203251a-231c-4371-839b-c50a41185fe0",
      "name": "Call 'Architect Agent'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3849b5-45d9-4930-b027-31a4f77160f0",
              "name": "projectId",
              "value": "={{ $('Webhook').first().json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "ea48e158-ff70-482a-a255-c2aa12c31760",
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -128
      ],
      "id": "5cf8b059-3158-4c67-99ec-9101f7f5b254",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wTWhBGfwfB2PdcoN",
          "mode": "list",
          "cachedResultUrl": "/workflow/wTWhBGfwfB2PdcoN",
          "cachedResultName": "Developer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        80
      ],
      "id": "8f76c660-d71e-4827-ad8f-aa787b3a580e",
      "name": "call Developer Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3849b5-45d9-4930-b027-31a4f77160f0",
              "name": "projectId",
              "value": "={{ $('Webhook').first().json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "ea48e158-ff70-482a-a255-c2aa12c31760",
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        80
      ],
      "id": "6ea11b70-1ed1-481f-b7ff-a0f791712b5f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3849b5-45d9-4930-b027-31a4f77160f0",
              "name": "projectId",
              "value": "={{ $('Webhook').first().json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "ea48e158-ff70-482a-a255-c2aa12c31760",
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        288
      ],
      "id": "5ff6856a-ce40-481b-b468-3e86c60eb64e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUP45Veoovcfj0YG",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUP45Veoovcfj0YG",
          "cachedResultName": "pm agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        288
      ],
      "id": "15ae9f68-85b6-4e92-8518-0d984cfc7ae2",
      "name": "Call 'pm agent'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea48e158-ff70-482a-a255-c2aa12c31760",
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        560
      ],
      "id": "5ca4909a-f8dc-45cf-a16c-6c9faf9aae42",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gR0BXsiXeyGMotku",
          "mode": "list",
          "cachedResultUrl": "/workflow/gR0BXsiXeyGMotku",
          "cachedResultName": "Architect Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        560
      ],
      "id": "e18c849e-1c03-41e5-9ce5-c85729acf0b0",
      "name": "Call 'Architect Agent'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wTWhBGfwfB2PdcoN",
          "mode": "list",
          "cachedResultUrl": "/workflow/wTWhBGfwfB2PdcoN",
          "cachedResultName": "Developer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        560
      ],
      "id": "ec9c3033-3305-477d-bf7c-b30b63e444fb",
      "name": "call Developer Agent1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jOuItCkOunFBXgoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/jOuItCkOunFBXgoj",
          "cachedResultName": "graph enrichment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        560
      ],
      "id": "23bd4ccd-2ad8-4d6f-a0f3-461dd9c049e2",
      "name": "Call 'graph enrichment'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jOuItCkOunFBXgoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/jOuItCkOunFBXgoj",
          "cachedResultName": "graph enrichment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        560
      ],
      "id": "42bf0431-f6fa-444e-8656-5138e0880a46",
      "name": "Call 'graph enrichment'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jOuItCkOunFBXgoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/jOuItCkOunFBXgoj",
          "cachedResultName": "graph enrichment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        560
      ],
      "id": "0728bbe4-6f3e-4e6b-9579-6c01e3fbc93c",
      "name": "Call 'graph enrichment'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUP45Veoovcfj0YG",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUP45Veoovcfj0YG",
          "cachedResultName": "pm agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1088,
        560
      ],
      "id": "8e206006-5c80-408f-b98b-83b3b44c5ce2",
      "name": "Call 'pm agent'1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "check Explicit Agent Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check Explicit Agent Selector": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "AI Intent Classifier",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Intent Classifier": {
      "main": [
        [
          {
            "node": "Route AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route AI Classification": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Call 'Architect Agent'": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Architect Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call Developer Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "call Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'pm agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'pm agent'": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'Architect Agent'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Architect Agent'1": {
      "main": [
        [
          {
            "node": "Call 'graph enrichment'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call Developer Agent1": {
      "main": [
        [
          {
            "node": "Call 'graph enrichment'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'graph enrichment'": {
      "main": [
        [
          {
            "node": "call Developer Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'graph enrichment'1": {
      "main": [
        [
          {
            "node": "Call 'pm agent'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'graph enrichment'2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'pm agent'1": {
      "main": [
        [
          {
            "node": "Call 'graph enrichment'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2016cbf2-54ce-4508-86ca-b394b7db2e8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d332cb98df84239f11f0ad2f0fbb11a02f4e38bed83db4e465fb4a60d2bd19ed"
  },
  "id": "aqbn141nW5GGfeER",
  "tags": []
}