workflow/graph enrichment.json
{
  "name": "graph enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/graph/enrich",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -96
      ],
      "id": "37f3dc38-ea53-47dc-ad1a-1288856934ce",
      "name": "Webhook",
      "webhookId": "cc602374-a223-412e-ac99-d194d17e030e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== INCOMING MEMORY DATA ===\nContent: {{ $json.AgentResponse || JSON.stringify($json) }}\n\n=== INSTRUCTION DEFINITION ===\nYou are a strict Data Transformation Engine. Your sole task is to extract semantic knowledge relationships from the incoming data and map them into a structured knowledge graph array.\n\nAnalyze the content and extract all relevant architectural, dependency, and framework connections.\n\n=== OUTPUT FORMAT COMPLIANCE ===\nYou MUST return a strict JSON array containing ONLY objects that match the following structure. Do not wrap the output in markdown code blocks like ```json. Do not include introductory text, greetings, or conclusions. Return only raw, valid JSON text.\n\n[\n  {\n    \"source\": \"Distributed-Payment-Settlement-Engine\",\n    \"relationship\": \"REQUIRES\",\n    \"target\": \"Fastify\"\n  },\n  {\n    \"source\": \"Fastify\",\n    \"relationship\": \"UTILIZES\",\n    \"target\": \"High-Speed HTTP Routing\"\n  }\n]",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -256,
        -16
      ],
      "id": "ad23aa24-3744-4ebb-b767-ff9a361b9c00",
      "name": "staging cognee extractor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tenant-55cea8ef-6438-4c08-8e78-f2b6645c9696.aws.cognee.ai/api/add_text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"datasetName\": \"contextos_memories_v1\",\n  \"textData\": [\n    \"Log Metadata: The following structural graph connections were successfully extracted from project \" + ($json.project_id || $json.projectId || \"active_project\") + \". Build these source relationships into the knowledge graph layout: \" + ($json.content || \"No dependencies mapped.\")\n  ]\n}\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -16
      ],
      "id": "84548214-e069-4dad-a8d6-5cb2dcf671ab",
      "name": "Cognee- Add data",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNYd5qN0x2acm8vU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tenant-55cea8ef-6438-4c08-8e78-f2b6645c9696.aws.cognee.ai/api/cognify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"datasets\": [\n    \"contextos_memories_v1\"\n  ]\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -16
      ],
      "id": "26782177-35bc-40a3-946e-71ea574d4524",
      "name": "cognee - cognify engine",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNYd5qN0x2acm8vU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        128
      ],
      "id": "4a90ef4d-8f33-4b5b-81d7-da1e52d74241",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ],
      "id": "16d07af6-0717-4235-99df-80add10265bc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "PB0UtPmHlf1Bpff2",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🚀 DYNAMIC PROJECT KEY EXTRACTOR\nconst rawText = $json.text || $json.AgentResponse || \"\";\n\n// Dynamically extract the project name value from the package.json string structure\nconst nameMatch = rawText.match(/\"name\"\\s*:\\s*\"([^\"]+)\"/) || rawText.match(/\"name\"\\\\*:\\s*\\\\*\"([^\"]+)\\\\*\"/);\nconst extractedProject = nameMatch ? nameMatch[1] : null;\n\nreturn {\n  json: {\n    incomingText: rawText,\n    targetProjectName: extractedProject\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -16
      ],
      "id": "3d7da94e-96f5-4c19-b8f5-b3254b564b12",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "project_memories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.incomingText }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "generated project"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -16
      ],
      "id": "cf996d24-1231-414b-a002-834f0a073aa6",
      "name": "Create a row",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GykSQNPF41IgK7Pm",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "staging cognee extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "staging cognee extractor": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cognee- Add data": {
      "main": [
        [
          {
            "node": "cognee - cognify engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "staging cognee extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "staging cognee extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Cognee- Add data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1778251-a574-498e-bd52-da3e20494306",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d332cb98df84239f11f0ad2f0fbb11a02f4e38bed83db4e465fb4a60d2bd19ed"
  },
  "id": "jOuItCkOunFBXgoj",
  "tags": []
}