workflow/Store Memory.json
{
  "name": "Store Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/memory/store",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -128
      ],
      "id": "5a9b08ad-3114-4652-826e-d46358b4b2ce",
      "name": "Webhook",
      "webhookId": "c16b2b18-20cb-4fef-ae42-ee8f4227b722"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please classify this text snippet:\n{{ $json.text }}\n\nRespond with ONLY a valid, minified JSON object containing these two exact keys:\n{\n  \"category\": \"Requirements\",\n  \"summary\": \"Short description\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "=Analyze the following raw snippet from a development session. Classify it into exactly ONE of these categories: \"Requirements\", \"Decisions\", \"Research\", \"Tasks\", \"Bugs\", or \"Architecture Notes\".\n\nContent: \"{{ $json.text }}\"\n\nReturn a clean JSON object with two fields:\n\"category\": The classified category string.\n\"summary\": A brief, one-sentence summary of the core insight."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -144,
        -16
      ],
      "id": "d0e9c0e9-9441-4bc3-809c-d45ff330b29d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// Grab the raw text coming directly from Gemini\nlet geminiResponse = $input.item.json.text;\n\n// Strip out any markdown wraps (```json or ```) that Gemini adds\ngeminiResponse = geminiResponse.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  // Parse the clean string into real data properties\n  const parsedData = JSON.parse(geminiResponse);\n  \n  return [{\n    json: {\n      category: parsedData.category || \"Architecture Notes\",\n      summary: parsedData.summary || \"Development insight recorded.\"\n    }\n  }];\n} catch (error) {\n  // Safe fallback object so the workflow never crashes if text formatting is weird\n  return [{\n    json: {\n      category: \"Architecture Notes\",\n      summary: \"Raw dev session entry recorded.\"\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -16
      ],
      "id": "ef7d5094-0c8e-460a-98fc-e595d67fa97c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "project_memories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $json.projectId }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ JSON.parse($json.rawContent).summary }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source || \"developer\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        -32
      ],
      "id": "2bf760b3-a2a9-488e-9ab8-9dceb9ddeb62",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "GykSQNPF41IgK7Pm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"memory_stored\",\n  \"memoryId\": \"{{ $('When Executed by Another Workflow').item.json.projectId }}\",\n  \"detectedCategory\": \"{{ $('When Executed by Another Workflow').item.json.category }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        -32
      ],
      "id": "e1c9fcff-1546-4d45-a9bd-81240dc24c2c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        112
      ],
      "id": "c17bc19e-de59-4637-bb1f-0e5df1003719",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        240
      ],
      "id": "cc486d9c-2233-423f-a1ec-a45ccfa578ef",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "PB0UtPmHlf1Bpff2",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69d00ffe-9711-430d-9061-a8bb52ffa5ae",
              "name": "projectId",
              "value": "={{ $('When Executed by Another Workflow').item.json.projectId }}",
              "type": "string"
            },
            {
              "id": "fe9d40ae-b8ae-4210-9b7c-d80a9728baa9",
              "name": "category",
              "value": "={{ $json.category ?? \"General\" }}",
              "type": "string"
            },
            {
              "id": "551b06bd-90fd-4266-9b35-65aa88cbf1d2",
              "name": "rawContent",
              "value": "={{ $('Basic LLM Chain').item.json.text }}",
              "type": "string"
            },
            {
              "id": "5c609ad9-6ce3-42bb-aee9-cf27f280e801",
              "name": "source",
              "value": "={{ $json.agentExecuted ?? \"Unknown\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        240
      ],
      "id": "a796a8eb-58e4-4a35-98e4-ce2eb78d20d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jOuItCkOunFBXgoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/jOuItCkOunFBXgoj",
          "cachedResultName": "graph enrichment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        -32
      ],
      "id": "c8066bcd-0e59-4690-9659-6fd7318c3f30",
      "name": "Call 'graph enrichment'"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Call 'graph enrichment'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'graph enrichment'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2d0a9eb-d49e-410c-8283-c7991029bead",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d332cb98df84239f11f0ad2f0fbb11a02f4e38bed83db4e465fb4a60d2bd19ed"
  },
  "id": "2JIaldKrMuRGQLfr",
  "tags": []
}